<div class="pb-5 box">
  <p class="text-center h3">
    பூம்பனி பூம்பனி பொழிந்ததம்மா<br />
    பூமியும் புன்னகை சிந்துதம்மா<br />
    பூம்பனி பூம்பனி பொழிந்ததம்மா<br />
    பூமியும் புன்னகை சிந்துதம்மா<br />
    <br />
    நாமதில் வீழ்ந்து புரண்டிடவே<br />
    நம் மனம் இன்பத்தில் மூழ்குதம்மா<br />
    தூங்கிடும் பனிஇதழ் பார்க்கையிலே<br />
    துள்ளிக் குதித்திடும் என் மனமே<br />
    <br /><i>
      பூம்பனி பூம்பனி பொழிந்ததம்மா<br />
      பூமியும் புன்னகை சிந்துதம்மா<br
    /></i>
    <br />
    பாலினை மிஞ்சிடும் வெண்மை கொண்ட<br />
    பணியினை கொஞ்சம் தின்றுவிட்டு<br />
    ஆங்கதை அள்ளி உறுட்டி வந்து<br />
    அழகிய மனிதனாய் ஆக்கிடுவோம்<br />
    <br /><i>
      பூம்பனி பூம்பனி பொழிந்ததம்மா<br />
      பூமியும் புன்னகை சிந்துதம்மா<br />
      <br
    /></i>
    வீசிடும் காற்றைக் குளிரை யெல்லாம்<br />
    வெறும் உடல் எப்படி தாங்கிடுமோ<br />
    ஆடையின்றி அவன் இருந்தால்<br />
    அடிமனம் கொஞ்சம் நோகுதம்மா<br /><br />
    வீசிடும் காற்றைக் குளிரை யெல்லாம்<br />
    வீறுடன் எதிர்கொள்ளும் வீரனுக்கு<br />
    ஆடை ஒன்றை அணிவித்து<br />
    அனைவரும் கூடி மகிழ்ந்திடுவோம்<br />
    <br />
    பூம்பனி பூம்பனி பொழிந்ததம்மா<br />
    பூமியும் புன்னகை சிந்துதம்மா<br />
    பூம்பனி பூம்பனி பொழிந்ததம்மா<br />
    பூமியும் புன்னகை சிந்துதம்மா
  </p>
</div>
<div class="float-button">
  <div class="fButton" (click)="play()">
    <i class="fas fa-headphones" style="padding: 16px"></i>
  </div>
  <audio id="player" controlsList="nodownload">
    <source src="assets/audio/Song-for-childrens/song01.mp3" ype="audio/mpeg" />
  </audio>
</div>
