<div class="page-bg m-auto">
    <div class="helpBorder">
        <div class="aniBig  aniBigBeatIcon ">
            <h1 class="bg-col-h1 p-4 mb-0 text-white  w-100 rounded-top"><i class="fas fa-question-circle aniIcon"></i>
                How to use
            </h1>
            <p class="bg-col-div text-white p-4 mt-0 ">
                The spotted trunkfish (Lactophrys bicaudalis) is a species of ray-finned fish in the family Ostraciidae,
                native
                to the Caribbean Sea and parts of the western Atlantic Ocean. Members of this family are known as
                boxfishes
                because they have a hard outer covering consisting of hexagonal, plate-like scales fused together into a
                solid,
                triangular or box-like carapace. Because of this casing, the body of the spotted trunkfish is not
                flexible,
                and
                locomotion is normally limited to slow movements performed by rippling its dorsal and anal fins and
                gently
                beating its pectoral fins. If faster motion is required, it can additionally use its caudal fin for
                propulsion.
                This spotted trunkfish was photographed at a depth of about 40 ft (12 m) at Bari Reef, Bonaire.</p>
        </div>
        <div class="aniBig  aniBigBeatIcon ">
            <h1 class="bg-col-h1 p-4 mb-0 text-white  rounded-top"><i class="fas fa-question-circle aniIcon"></i>
                How to use
            </h1>
            <p class="bg-col-div text-white p-4 mt-0 ">
                The spotted trunkfish (Lactophrys bicaudalis) is a species of ray-finned fish in the family Ostraciidae,
                native
                to the Caribbean Sea and parts of the western Atlantic Ocean. Members of this family are known as
                boxfishes
                because they have a hard outer covering consisting of hexagonal, plate-like scales fused together into a
                solid,
                triangular or box-like carapace. Because of this casing, the body of the spotted trunkfish is not
                flexible,
                and
                locomotion is normally limited to slow movements performed by rippling its dorsal and anal fins and
                gently
                beating its pectoral fins. If faster motion is required, it can additionally use its caudal fin for
                propulsion.
                This spotted trunkfish was photographed at a depth of about 40 ft (12 m) at Bari Reef, Bonaire.</p>
        </div>
        <div class="aniBig  aniBigBeatIcon ">
            <h1 class="bg-col-h1 p-4 mb-0 text-white  w-100 rounded-top"><i class="fas fa-question-circle aniIcon"></i>
                How to use
            </h1>
            <p class="bg-col-div text-white p-4 mt-0 ">
                The spotted trunkfish (Lactophrys bicaudalis) is a species of ray-finned fish in the family Ostraciidae,
                native
                to the Caribbean Sea and parts of the western Atlantic Ocean. Members of this family are known as
                boxfishes
                because they have a hard outer covering consisting of hexagonal, plate-like scales fused together into a
                solid,
                triangular or box-like carapace. Because of this casing, the body of the spotted trunkfish is not
                flexible,
                and
                locomotion is normally limited to slow movements performed by rippling its dorsal and anal fins and
                gently
                beating its pectoral fins. If faster motion is required, it can additionally use its caudal fin for
                propulsion.
                This spotted trunkfish was photographed at a depth of about 40 ft (12 m) at Bari Reef, Bonaire.</p>
        </div>
    </div>