<div class="text-white text-center text-organization clearfix p-2">

  <p class="float-left ml-auto col-sm-12">
    அன்னை பூபதி தமிழ்க் கலைக்கூடம் <span class="noDisplay">|</span> <span class="smallDisplay"><br></span>
    Annai poopathi Tamilsk Kultursenter - Norway <span class="smallDisplay"><br></span>
    <span class="float-right"><i class="fas fa-envelope px-2 "></i>feedback@annai.no </span>

    <!-- |  -->
    <!-- <i class="fas fa-phone px-2"></i>
    +64 394349789 | 
    <a class="px-2"><i class="fab fa-facebook-f"></i></a> 
    <a class="px-2"><i
        class="fab fa-instagram"></i>
      </a> <a class="px-2"><i class="fab fa-twitter"></i></a></p> -->
</div>

<nav class="navbar navbar-expand-lg navbar-dark p-4 text-white">
  <div class=" mx-auto">
    <a routerLink="/">
      <img class="logoClass" src="assets/img/logo.png" alt="Logo">
    </a>
  </div>
  <!-- <div class="ml-auto aniBigIcon" id="smallHelp">
     <a href="#" data-toggle="tooltip" title="Hi here we are to help" class="h5 help " routerLink="/help"> <span
        class="">Help </span><i class="far fa-question-circle aniIcon"></i></a>
  </div> -->
  <div class="mx-auto">
    <a class="btn btn-color1 rounded-pill aniShake aniRotateIcon" routerLink="/"><span class="h4 "><i
          class="fas fa-child aniIcon"></i><span class="noDisplay">
          முகப்பு</span></span></a>

    <div class="dropdown">
      <a class="btn btn-color3 rounded-pill aniShake aniRotateIcon dropbtn" ><span class="h4 "><i
            class="fas fa-list-alt aniIcon"></i><span class="noDisplay"> புத்தக
            அட்டவணை</span></span></a>
      <div class="dropdown-content">
        <a routerLink ='/book-list'><span class="noDisplay">புத்தகங்கள் </span>நிலை 01</a>
        <a routerLink ='/book-list'><span class="noDisplay">புத்தகங்கள் </span>நிலை 02</a>
        <a routerLink ='/book-list'><span class="noDisplay">புத்தகங்கள் </span>நிலை 03</a>
      </div>
    </div>

    <a class="btn btn-color2 rounded-pill aniShake  aniRotateIcon" routerLink="/letters" routerLinkActive="active"><span
        class="h4 "><i class="fas fa-book-open aniIcon"></i><span class="noDisplay">
          எழுத பழகுவோம்
        </span></span></a>
  </div>
  <!-- <div class="ml-auto aniBigIcon" id="bigHelp">
    <a href="#" data-toggle="tooltip" title="Hi here we are to help" class="h5 help " routerLink="/help"> <span
        class="">Help </span><i class="far fa-question-circle aniIcon"></i></a>
  </div> -->
</nav>