<div class="page-bg">
  <div class="homeBorder">
    <h1 class="color"><b>வணக்கம்</b><br /></h1>
    <p class="homeTitle color" style="text-align: justify">
      <b> "வாசிப்பதால் ஒரு மனிதன் நிறைவு அடைகிறான்"</b> என்பது சான்றோர் வாக்கு.
      <br />

      இன்றைய துரித வாழ்வில் இளையோர் மட்டுமல்லாமல் வளர்ந்தோர் மத்தியிலும்
      வாசிக்கும் பழக்கம் குறைந்து வருவதை அவதானிக்க முடிகிறது. அதற்குப் பல
      காரணிகள் இருந்தாலும், புலம் பெயர் வாழ்வில் சிறார்களுக்கான வாசிப்புப்
      பழக்கத்தை ஊக்கப்படுத்த வேண்டிய தேவையுள்ளது, அதிலும் தமிழ்மொழி நூல்களை
      வாசிக்கும் பழக்கத்தை ஏற்படுத்துவது அவசியமானது, அத்தோடு இளையவர் மத்தியில்
      தமிழ் மொழித் திறனை வளர்த்தெடுக்கும் பாரிய பொறுப்பை நாம் தட்டிக் கழித்துவிட
      முடியாது. <br />

      இன்றைய நவீன உலகம் "இணையம்' என்ற ஒற்றைச் சொல்லில் சுழல்வதால், அனைத்துத்
      தேவைகளும் ஏதோவொரு வகையில் இணையத்தோடு தொடர்புபட்டதாக மாறிவிட்டது. அந்த
      மாற்றத்திற்கேற்ப மாணவர்களின் வாசிப்புப் பழக்கமும் மாறியுள்ளதும் இயல்பானதே.
      <br />

      கேட்டல், பேசுதல், வாசித்தல், எழுதுதல் என்ற பண்புகளே ஒரு மொழியில்
      தேர்ச்சிபெறச் சிறந்த வழியாகும். அவ்வகையில் மாணவர்களின் வாசிப்புத் திறனை
      வளர்ப்பதின் மூலம் அவர்களின் மொழியின் ஆளுமையை வளர்த்தெடுக்க முடியும். புலம்
      பெயர் நாடுகளில் அவர்களின் வாழ்விடத்து மொழிகளில் வாசிப்புத் திறனை எமது
      இளையவர் மிகவும் அக்கறையுடன் முன்னெடுத்து வருவதையும் அவதானிக்க முடிகிறது.
      புலம் பெயர் நாடுகளில் சிறுவர்களுக்கான தமிழ் இலக்கிய நூல்கள் மிக அரிதாகவே
      காணப்படுகிறது, இதுவும் அவர்களின் வாசிப்புப் பழக்கத்தில் தாக்கத்தைச்
      செலுத்துகின்றது. எனவே அவர்களின் தேவையைக் கண்டறிந்து, இளையவர்களின்
      வாசிப்புப் பழக்கத்தில் ஈடுபாடை அதிகரிக்க புதிய யுக்திகளை அறிமுகம் செய்ய
      வேண்டிய கடப்பாடு எமக்குண்டு. <br />

      அந்தவகையில் அன்னை பூபதி கலைக்கூடத்தினராகிய நாம், கணணியில் கேட்டும்,
      பார்த்தும் வாசிக்கும் நவீன முறையை தமிழில் எமது மாணவர்களுக்கு தெளிவான
      இலக்கிய நயத்தோடும், துல்லியமான உச்சரிப்புடனும், அழகிய வண்ணப் படங்களுடனும்,
      வாசிக்கும் பழக்கத்தை ஊக்கப்படுத்தும் நோக்கோடு இலகு தமிழில் முதற்கட்டமாக
      சில நூல்களை அறிமுகம் செய்வதில் பெருமை கொள்கிறோம். எமது அடுத்த இலக்காக
      எழுத்துக்கள், சொற்கள், சொற்தொடர்கள், சொல்லியங்கள் என இணையத்தில் தமிழ்
      மொழியை இலகுவில் கற்றுத் தேர்ச்சி பெற ஏதுவான முன்முயற்சிகளை மேற்கொண்டு
      வருவதையும் மகிழ்வோடு அறியத்தருகிறோம். <br />

      முதற்கட்டமாக வெளிவரும் இணைய நூல்களை எம் இளையோர் வாசிப்பதால் அவர்கள்
      சொல்வளவத்தையும், அறிவுத் திறனையும், நினைவாற்றலையும், கற்பனைத் திறனையும்
      அதிகரிக்க முடியும் என்று உறுதியாக நம்புகிறோம். <br />

      பாடநூல்களோடு மட்டும் நின்றுவிடாது, புலம் பெயர் வாழ்வில் எம் அடுத்த
      தலைமுறையினர் தமிழ் மொழியை விரும்பிப் பயில மேற்படி நூல்கள் தூண்டுகோலாக
      அமையும் என்றும் ஆழமாக நம்புகிறோம். <br />

      <br />
      நன்றி - <br />
      <br />
      <b> "தமிழ் எங்கள் அடையாளம் " </b>
    </p>
  </div>
</div>
