<div class="row">
  <div
    style="
      background: linear-gradient(
        to left,
        rgba(250, 250, 250, 0) 0%,
        rgb(43, 104, 189) 100%
      );
      margin-top: 2rem;
      border-radius: 0.4rem;
      color: white;
    "
    class="p-1 col-12"
  >
    <h2 class="font-weight-bold ml-3">தமிழ்ப்பாடல்கள்</h2>
  </div>
  <div class="col-12 col-sm-6 c-style">
    <div
      class="card mb-3"
      style="margin-top: 2rem"
      routerLink="/read/comming-soon"
    >
      <div class="row g-0">
        <div class="col-md-4" style="background-color: rgb(223, 195, 37)">
          <img src="assets/img/song-card.png" alt="..." class="img-fluid" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">
              பூம்பனி பூம்பனி பொழிந்ததம்மா
            </h5>
            <p class="card-text">
              <span class="font-weight-bold">பாடல் வரிகள்.</span>
              <br />திரு.உமைபாலன் தியாகராஜா <br />
              <span class="font-weight-bold">பாடடியவர்கள்.</span><br />அஞ்சனா
              இராசகோபால்.<br />
              அபர்ணா ஆனந்தகுமார். <br />மாஷா மணிவண்ணன். <br />தாரகை இராசதுரை
            </p>
            <p class="card-text">
              <small class="text-muted font-weight-bold"
                >கொஞ்சும் தமிழ்ப்பா</small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 c-style">
    <div class="card mb-3" style="margin-top: 2rem" routerLink="/my-song/lyric">
      <div class="row g-0">
        <div class="col-md-4" style="background-color: rgb(221, 153, 98)">
          <img
            src="assets/img/song-card.png"
            alt="song-card-image"
            class="img-fluid"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">அழகுப் பூம்பனி</h5>
            <p class="card-text">
              <span class="font-weight-bold">பாடல் வரிகள்.</span>
              <br />திருமதி.சியாமினி கென்றலடிஸ்மன்<br />
              <span class="font-weight-bold">பாடடியவர்கள்.</span><br />அஞ்சனா
              இராசகோபால்.<br />
              அபர்ணா ஆனந்தகுமார். <br />மாஷா மணிவண்ணன். <br />தாரகை இராசதுரை
            </p>
            <p class="card-text">
              <small class="text-muted font-weight-bold"
                >கொஞ்சும் தமிழ்ப்பா</small
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
